@charset "UTF-8";
/***** SWITCH **** */
/***** End SWITCH **** */
/***** VARIABLES OTHERS **** */
/***** End VARIABLES OTHERS **** */
/***** VARIABLES SIDEBAR **** */
/***** End VARIABLES SIDEBAR **** */
/***** VARIABLES INPUT **** */
/***** End VARIABLES INPUT **** */
/***** VARIABLES SWITCH **** */
/***** End VARIABLES SWITCH **** */
/***** OTHERS **** */
body {
  background-color: #E4ECEF; }

.container-wrapper {
  margin: 0px;
  padding: 0px;
  margin-top: 66px; }

.logo-cep {
  width: 50px;
  height: 40px;
  margin-right: 10px; }
  .logo-cep > div {
    height: 10px;
    margin-bottom: 3px;
    border-radius: 5px; }

.bg-purple {
  background-color: #764A93; }

.bg-turquoise {
  background-color: #40E0D0; }

.table-340 {
  height: 340px; }

.card-480 {
  height: 480px;
  overflow-y: auto; }

.login-background {
  position: relative;
  height: 100vh;
  background-image: url("../../../../media/admin/background.jpg");
  background-size: cover; }
  .login-background::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.45); }

.title {
  text-transform: uppercase; }

.logo {
  flex-shrink: 0;
  width: 80px;
  height: 60px;
  min-width: 80px;
  max-height: 60px; }

.subtitle {
  width: 100%; }

/***** End OTHERS **** */
/*SWITCH */
.form-switch.form-switch-sm .form-check-input {
  height: 1rem;
  width: calc(1rem + 0.75rem);
  border-radius: 2rem; }

.form-switch.form-switch-md .form-check-input {
  height: 1.5rem;
  width: calc(2rem + 0.75rem);
  border-radius: 3rem; }

.form-switch.form-switch-lg .form-check-input {
  height: 2rem;
  width: calc(3rem + 0.75rem);
  border-radius: 4rem; }

.form-switch.form-switch-xl .form-check-input {
  height: 2.5rem;
  width: calc(4rem + 0.75rem);
  border-radius: 5rem; }

.form-switch > .form-switch-wrap {
  display: inline-block; }
  .form-switch > .form-switch-wrap i {
    position: absolute;
    left: 60%;
    top: 25%;
    font-size: 0.78rem; }
    .form-switch > .form-switch-wrap i::before {
      content: ""; }

.form-switch > .form-switch-wrap > .form-check-input {
  background-color: #000000;
  border-color: #000000;
  color: #000000; }

.form-switch > .form-switch-wrap > .form-check-input:checked {
  background-color: #FA4301;
  border-color: #FA4301;
  color: #FA4301; }
  .form-switch > .form-switch-wrap > .form-check-input:checked + i {
    left: 15%;
    font-size: 0.78rem; }
    .form-switch > .form-switch-wrap > .form-check-input:checked + i::before {
      content: ""; }

.form-switch > .form-switch-wrap > .form-check-input:focus {
  color: #fff;
  outline: none;
  box-shadow: none; }

/*END SWITCH */
/***** INPUT **** */
input.form-control.form-control-border {
  border: 2px solid #5E5E5E; }

input.form-control.form-control-border.input-password {
  border-right: 0px !important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

#toggle-password {
  border-top: 2px solid #5E5E5E;
  border-right: 2px solid #5E5E5E;
  border-bottom: 2px solid #5E5E5E;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: white;
  cursor: pointer; }

/***** End INPUT **** */
/***** SIDEBAR **** */
aside {
  position: fixed;
  width: 300px;
  z-index: 1;
  height: calc(100vh - 66px);
  background-color: #5E5E5E; }
  aside > hr:not([size]) {
    height: 2px;
    background-color: #fff; }
  aside .nav-link > i {
    width: 50px; }
  aside .nav-link.active {
    background-color: #2099C5 !important;
    color: white !important; }

main {
  margin-left: 300px; }

/***** End SIDEBAR **** */

/*# sourceMappingURL=admin.css.map */
