<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="gameSelectViews.css">

</head>
<body>
    <div class="container mt-sm-4">
        <img class="gSelect_img mx-auto d-block img-fluid" src="../../media/gameSelectViews/jugar.gif" alt="">
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-sm-12 col-lg-3">
            <img src="../../media/gameSelectViews/arkanoid_gif.gif" alt="">
        </div>
        <div class="col-sm-12 col-lg-3">
            <img src="../../media/gameSelectViews/platform_gif.gif" alt="">
        </div>
        <div class="col-sm-12 col-lg-3">
            <img src="../../media/gameSelectViews/snake_gif.gif" alt="">
        </div>
        <div class="col-sm-12 col-lg-3">
            <img src="../../media/gameSelectViewsViews/snake_gif.gif" alt="">
        </div>
    </div>
</body>
</html>

